<div class="container">
   <div class="icon-demo">
      <h1 style="font-family: Monaco, monospace">ngx-md-icon</h1>
      <h1>Simple Icons</h1>
      <div class="simple-icons">
         <md-icon [icons]="[icons.industryVehicle]"></md-icon>
         <md-icon [icons]="[icons.person]"></md-icon>
         <md-icon [icons]="[icons.bear]"></md-icon>
         <md-icon [icons]="[icons.dolphin]"></md-icon>
         <md-icon [icons]="[icons.duck]"></md-icon>
         <md-icon [icons]="[icons.elephant]"></md-icon>
         <md-icon [icons]="[icons.horse]"></md-icon>
         <md-icon [icons]="[icons.owl]"></md-icon>
      </div>
      <div class="code">
         <code>
            &lt;md-icon [icons]=&quot;[icons.industryVehicle]&quot;&gt;&lt;/md-icon&gt;
         </code>
      </div>
      <div class="code">
         <code>
            {{ "   .md-icon {\n" +
         "      margin: 0 6px;\n" +
         "   }" }}
         </code>
      </div>

      <h1>Size 48px</h1>
      <div class="px48-icons">
         <md-icon [texts]="['CocaCola']" [xViewBox]="80" [yViewBox]="48" [yTextPos]="29"></md-icon>
         <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
         <md-icon [icons]="[icons.industryVehicle]"></md-icon>
         <md-icon [icons]="[icons.person]"></md-icon>
         <md-icon [icons]="[icons.bear]"></md-icon>
         <md-icon [icons]="[icons.dolphin]"></md-icon>
         <md-icon [icons]="[icons.duck]"></md-icon>
         <md-icon [icons]="[icons.elephant]"></md-icon>
         <md-icon [icons]="[icons.horse]"></md-icon>
         <md-icon [icons]="[icons.owl]"></md-icon>
      </div>
      <div class="code">
         <code>
            &lt;md-icon [icons]=&quot;[icons.industryVehicle]&quot;&gt;&lt;/md-icon&gt;
         </code>
      </div>
      <div class="code">
         <code>
            {{ ".md-icon {\n" +
         "         width: 48px;\n" +
         "         height: 48px;\n" +
         "      }" }}
         </code>
      </div>

      <h1>Stacked</h1>
      <div class="px48-icons strike-icons">
         <md-icon [icons]="[icons.industryVehicle, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.person, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.bear, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.dolphin, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.duck, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.elephant, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.horse, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.owl, icons.strike]"></md-icon>
      </div>
      <div class="code">
         <code>
            &lt;md-icon [icons]=&quot;[icons.industryVehicle, icons.strike]&quot;&gt;&lt;/md-icon&gt;
         </code>
      </div>
      <div class="code">
      <pre>{{ "::ng-deep .md-icon {\n" +
      "   .icon-1 {\n" +
      "      transform: scale(1.5);\n" +
      "      transform-origin: center;\n" +
      "      color: red;\n" +
      "   }\n" +
      "}"}}</pre>
      </div>

      <h1>Animated</h1>
      <div class="px48-icons strike-icons animate-icons">
         <md-icon [icons]="[icons.industryVehicle, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.person, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.bear, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.dolphin, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.duck, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.elephant, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.horse, icons.strike]"></md-icon>
         <md-icon [icons]="[icons.owl, icons.strike]"></md-icon>
      </div>
      <div class="code">
         <code>
            &lt;md-icon [icons]=&quot;[icons.industryVehicle, icons.strike]&quot;&gt;&lt;/md-icon&gt;
         </code>
      </div>
      <div class="code">
      <pre>{{ "::ng-deep .md-icon {\n" +
      "   .icon-0 {\n" +
      "      animation: scaleAnimation 3s infinite;\n" +
      "      transform-origin: center;\n" +
      "      @keyframes scaleAnimation {\n" +
      "         0% {\n" +
      "            transform: scale(1);\n" +
      "         }\n" +
      "         50% {\n" +
      "            transform: scale(0.5);\n" +
      "         }\n" +
      "         90% {\n" +
      "            transform: scale(1.1);\n" +
      "         }\n" +
      "      }\n" +
      "   }\n" +
      "   .icon-1 {\n" +
      "      animation: rotateAnimation 1s infinite linear;\n" +
      "      @keyframes rotateAnimation {\n" +
      "         0% {\n" +
      "            transform: rotate(0deg);\n" +
      "         }\n" +
      "         100% {\n" +
      "            transform: rotate(360deg);\n" +
      "         }\n" +
      "      }\n" +
      "   }\n" +
      "}"}}</pre>
      </div>
   </div>


   <div class="material-test">
      <h1>Angular Material Tests</h1>


      <p>
         <mat-toolbar color="primary">
            <button mat-icon-button matTooltip="mat-icon">
               <mat-icon>menu</mat-icon>
            </button>

            <button mat-icon-button matTooltip="md-icon">
               <md-icon [icon]="icons.menu"></md-icon>
            </button>

            <span style="flex-grow: 1;"></span>

            <span>mat-icon <md-icon [icon]="icons.arrowLeftRight" middle matTooltip="md-icon"></md-icon> md-icon</span>

            <span style="flex-grow: 1;"></span>

            <button mat-icon-button matTooltip="mat-icon">
               <mat-icon>notifications_off</mat-icon>
            </button>

            <button mat-icon-button matTooltip="md-icon">
               <md-icon [icon]="icons.disableAlerts"></md-icon>
            </button>

            <button mat-icon-button matTooltip="mat-icon">
               <mat-icon>share</mat-icon>
            </button>

            <button mat-icon-button matTooltip="md-icon">
               <md-icon [icon]="icons.share"></md-icon>
            </button>
         </mat-toolbar>
      </p>


      <div class="row-box">
         <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
         </button>
         <mat-menu #menu="matMenu">
            <button mat-menu-item>
               <mat-icon>notifications_off</mat-icon>
               <span>mat-icon</span>
            </button>
            <button mat-menu-item>
               <md-icon [icon]="icons.disableAlerts"></md-icon>
               <span>md-icon</span>
            </button>
            <button mat-menu-item>
               <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
               <span>md-icon</span>
            </button>
         </mat-menu>
      </div>


      <div class="row-box">
         <mat-list>
            <h3>Folders</h3>
            <mat-list-item *ngFor="let folder of [1]">
               <mat-icon matListItemIcon>folder</mat-icon>
               <div matListItemTitle>mat-icon</div>
               <div matListItemLine>mat-icon</div>
            </mat-list-item>
            <mat-list-item *ngFor="let folder of [1]">
               <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay" matListItemIcon></md-icon>
               <div matListItemTitle>md-icon</div>
               <div matListItemLine>md-icon</div>
            </mat-list-item>
            <mat-list-item *ngFor="let folder of [1]">
               <md-icon [icon]="icons.delete" matListItemIcon></md-icon>
               <div matListItemTitle>md-icon</div>
               <div matListItemLine>md-icon</div>
            </mat-list-item>
         </mat-list>

      </div>
      <div class="row-box">
         <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>
               <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
               md-icon
            </mat-chip-option>
            <mat-chip-option>
               <md-icon [icon]="icons.smile"></md-icon>
               md-icon
            </mat-chip-option>
            <mat-chip-option>
               <mat-icon>sentiment_very_satisfied</mat-icon>
               mat-icon
            </mat-chip-option>
         </mat-chip-listbox>
      </div>

      <div class="row-box">
         <mat-form-field appearance="fill">
            <mat-label>md-icon</mat-label>
            <input matInput placeholder="Placeholder">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay" matIconPrefix></md-icon>
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay" matIconSuffix></md-icon>
            <mat-hint>md-icon</mat-hint>
         </mat-form-field>
         <mat-form-field appearance="fill">
            <mat-label>md-icon</mat-label>
            <input matInput placeholder="Placeholder">
            <md-icon [icon]="icons.smile" matIconPrefix></md-icon>
            <md-icon [icon]="icons.smile" matIconSuffix></md-icon>
            <mat-hint>md-icon</mat-hint>
         </mat-form-field>

         <mat-form-field appearance="fill">
            <mat-label>mat-icon</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matIconSuffix>sentiment_very_satisfied</mat-icon>
            <mat-icon matIconPrefix>sentiment_very_satisfied</mat-icon>
            <mat-hint>mat-icon</mat-hint>
         </mat-form-field>

         <mat-form-field appearance="fill">
            <mat-label>mat-date-picker-toggle</mat-label>
            <input matInput>
            <mat-hint>datepicker-toggle</mat-hint>
            <mat-datepicker-toggle matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker-toggle matIconPrefix></mat-datepicker-toggle>
         </mat-form-field>
      </div>

      <div class="row-box">
         <button mat-icon-button color="primary" style="" matTooltip="mat-icon">
            <mat-icon>delete</mat-icon>
         </button>

         <button mat-icon-button color="primary" style="" matTooltip="md-icon">
            <md-icon [icon]="icons.delete"></md-icon>
         </button>

         <button mat-icon-button color="primary" style="" matTooltip="md-icon">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
         </button>
      </div>

      <div class="row-box">
         <button mat-fab color="primary" style="" matTooltip="mat-icon">
            <mat-icon>delete</mat-icon>
         </button>

         <button mat-fab color="primary" style="" matTooltip="md-icon">
            <md-icon [icon]="icons.delete"></md-icon>
         </button>

         <button mat-fab color="primary" style="" matTooltip="md-icon">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
         </button>
      </div>
      <div class="row-box">
         <button mat-mini-fab color="primary" style="" matTooltip="mat-icon">
            <mat-icon>delete</mat-icon>
         </button>

         <button mat-mini-fab color="primary" style="" matTooltip="md-icon">
            <md-icon [icon]="icons.delete"></md-icon>
         </button>

         <button mat-mini-fab color="primary" style="" matTooltip="md-icon">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
         </button>
      </div>
      <div class="row-box">
         <button mat-flat-button color="primary" style="">
            <mat-icon>delete</mat-icon>
            mat-icon
         </button>

         <button mat-flat-button color="primary" style="">
            <md-icon [icon]="icons.delete"></md-icon>
            md-icon
         </button>
         <button mat-flat-button color="primary" style="">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
            md-icon
         </button>
      </div>
      <div class="row-box">
         <button mat-raised-button color="primary" style="">
            <mat-icon>delete</mat-icon>
            mat-icon
         </button>

         <button mat-raised-button color="primary" style="">
            <md-icon [icon]="icons.delete"></md-icon>
            md-icon
         </button>
         <button mat-raised-button color="primary" style="">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
            md-icon
         </button>
      </div>
      <div class="row-box">
         <button mat-button color="primary" style="">
            <mat-icon>delete</mat-icon>
            mat-icon
         </button>

         <button mat-button color="primary" style="">
            <md-icon [icon]="icons.delete"></md-icon>
            md-icon
         </button>
         <button mat-button color="primary" style="">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
            md-icon
         </button>
      </div>
      <div class="row-box">
         <button mat-stroked-button color="primary" style="">
            <mat-icon>delete</mat-icon>
            mat-icon
         </button>

         <button mat-stroked-button color="primary" style="">
            <md-icon [icon]="icons.delete"></md-icon>
            md-icon
         </button>
         <button mat-stroked-button color="primary" style="">
            <md-icon [texts]="['EK']" [icon]="icons.person" class="person-overlay"></md-icon>
            md-icon
         </button>
      </div>


      <div class="row-box">
         <mat-tab-group>
            <mat-tab>
               <ng-template mat-tab-label>
                  <mat-icon>sentiment_very_satisfied</mat-icon>
                  MAT
               </ng-template>
            </mat-tab>
            <mat-tab>
               <ng-template mat-tab-label>
                  <md-icon [icon]="icons.smile"></md-icon>
                  MDI
               </ng-template>
            </mat-tab>
         </mat-tab-group>
      </div>


      <div class="row-box">
         <h2 style="margin-right: 12px">
            <mat-icon>delete</mat-icon>
            mat-icon
         </h2>
         <h2>
            <md-icon [icon]="icons.delete"></md-icon>
            md-icon
         </h2>
      </div>


   </div>

</div>
