/* You can add global styles to this file, and also import other style files */
body {
   padding: 0;
   margin: 0;
   background-color: #eff5f8;
   font-family: sans-serif;

   code, pre {
      font-family: Monaco, "Lucida Console", monospace;
   }
}
